@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode */
    --color-bg-base-rgb: 247 247 255;
    --color-bg-surface-rgb: 189 213 234;
    --color-border-rgb: 87 115 153;
    --color-text-main-rgb: 73 88 103;
    --color-text-muted-rgb: 107 114 128;
    --color-primary-rgb: 254 95 85;
    --color-secondary-rgb: 42 157 143;
    --color-accent-rgb: 217 119 6;

    /* Rating Colors - Light Mode */
    --rating-95-rgb: 29 78 216;
    --rating-90-rgb: 15 118 110;
    --rating-80-rgb: 21 128 61;
    --rating-70-rgb: 77 124 15;
    --rating-60-rgb: 234 88 12;
    --rating-45-rgb: 220 38 38;
    --rating-bad-rgb: 127 29 29;
    --rating-none-rgb: 75 85 99;
    /* Badge Colors - Light Mode */
    --badge-green-bg-rgb: 34 197 94;
    --badge-green-text-rgb: 21 128 61;
    --badge-blue-bg-rgb: 59 130 246;
    --badge-blue-text-rgb: 29 78 216;
    --badge-red-bg-rgb: 239 68 68;
    --badge-red-text-rgb: 185 28 28;
    --badge-yellow-bg-rgb: 234 179 8;
    --badge-yellow-text-rgb: 161 98 7;
    --badge-purple-bg-rgb: 168 85 247;
    --badge-purple-text-rgb: 126 34 206;
    --badge-gray-bg-rgb: 107 114 128;
    --badge-gray-text-rgb: 55 65 81;
  }

  .dark {
    /* Dark Mode */
    --color-bg-base-rgb: 49 47 47;
    --color-bg-surface-rgb: 62 60 60;
    --color-border-rgb: 69 67 67;
    --color-text-main-rgb: 188 204 224;
    --color-text-muted-rgb: 191 152 160;
    --color-primary-rgb: 132 220 207;
    --color-secondary-rgb: 166 217 247;
    --color-accent-rgb: 250 204 21;

    /* Rating Colors - Dark Mode */
    --rating-95-rgb: 147 197 253;
    --rating-90-rgb: 94 234 212;
    --rating-80-rgb: 134 239 172;
    --rating-70-rgb: 163 230 53;
    --rating-60-rgb: 251 146 60;
    --rating-45-rgb: 248 113 113;
    --rating-bad-rgb: 252 165 165;
    --rating-none-rgb: 156 163 175;

    /* Badge Colors - Dark Mode */
    --badge-green-text-rgb: 134 239 172;
    --badge-blue-text-rgb: 147 197 253;
    --badge-red-text-rgb: 252 165 165;
    --badge-yellow-text-rgb: 253 224 71;
    --badge-purple-text-rgb: 216 180 254;
    --badge-gray-text-rgb: 209 213 219;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--color-border-rgb));
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--color-text-muted-rgb));
  }

  body {
    @apply bg-skin-base text-skin-text transition-colors duration-200;
  }
}
