services:
  vivaply-db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  vivaply-client:
    build:
      context: ../client
      target: dev
    environment:
      VITE_API_URL: https://localhost:7161/api
    volumes:
      - ../client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    depends_on:
      vivaply-db:
        condition: service_healthy

volumes:
  postgres_data:
